<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
	<meta name="keywords" content="GPS" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
	<!--style type="text/css">{% include "stylesheets/main.css" %}</style-->
    {% block head %}{% endblock %}
  </head>
  <body {% block bodyattributes %}{% endblock %}>
  	<div id="main">
  		<div id="header">
  			Навигация
			<a class="pushLink" href="/">Главная</a>
			<a class="pushLink" href="/logout">Выйти</a>
		</div>
        <!--div id="ae-content" class="g-unit"-->
          {% block body %}{% endblock %}
        <!--/div-->
    {% block final %}{% endblock %}
    
	<a href="http://code.google.com/p/gps-maps/"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
       alt="Технология Google App Engine" /></a>
	</div>
  </body>
</html>
