{% extends "base.html" %}

{% block title %}{{ application_name }} Admin Datastore {% endblock %}

{% block head %}
  <!--meta http-equiv="refresh" content="10"-->
  <style type="text/css">{% include "css/logs.css" %}</style>
{% endblock %}

{% block javainit %}
	//sayHi();
{% endblock %}

{% block body %}

Дата самой старой точки: {{ lastlog.ldate }} <br />
Количество 'старых' (> 30 дней) данных: {{ oldcnt }} <br />

<h1>Действия</h1>
<a href="/admin.flushold">Удалить старые записи (100 за раз).</a>
    
{% endblock %}

{% block final %}
{% endblock %}
