<!DOCTYPE html>
<!--html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"-->
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="GPS" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
		<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAADIf1TyW8EOrlksPTOSU_ahRSRM19lJ9EelRQvSBfwIzY3S55QBS-8_3mcz6GYcDrbbRrvEniskCZzw"></script>

		<script type="text/javascript">
		//google.load("jquery", "1.3.2");
		//google.load("jqueryui", "1.7.2");
		//google.load("jquery", "1", {uncompressed:true});
		//google.load("jqueryui", "1", {uncompressed:true});
		google.load("jquery", "1");
		google.load("jqueryui", "1");

		function loadApp() {
			{% block javainit %}{% endblock %}
		}
		</script>
		{% block head %}{% endblock %}
	</head>
	<body onload="loadApp();" {% block bodyattributes %}{% endblock %}>
		<div id="Widget">
			{% if not map %}
			<div style="position:absolute; right: 10px; top: 10px; z-index:1000;">
				Вы вошли как: <b>{{ username }}</b>
			        <a class="smallButton" href="{{ login_url }}" title="Войти под другим именем">X</a>
			</div>
			{% endif %}
{% block body %}{% endblock %}
		</div>
{% block final %}{% endblock %}

		<div class="menu">
			<ul>
				<li id="main"><a href="/"><div>Главная</div></a></li>
				<li id="config"><a href="/config"><div>Конфигурация</div></a></li>
				{% if not true.users %}
				<li id="map"><a href="/map"><div>Карта</div></a></li>
				<li id="log"><a href="/logs"><div>События</div></a></li>
				<li id="geos"><a href="/geos"><div>События GPS</div></a></li>
				{% endif %}
			</ul>
		</div>
  </body>
</html>
