{% extends "base.html" %}
	
{% block title %}{{ application_name }} Конфигурация системы {% endblock %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="stylesheets/ui.all.css" />
  <style type="text/css">{% include "css/config.css" %}

input.digits {
	text-align: right;
}

input.compl {
	/*color: green;*/
	text-align: right;
	font-weight: bold;
	background: lime;
}

form table tr th{
	font-size: 0.9em;
}

</style>

<script type="text/javascript">
userconfigs = {}
function ChangeParam(me)
{
	userconfigs[me.id] = me.value;
	userstr = ""
	for (userconfig in userconfigs){
		userstr += userconfig + "="+ userconfigs[userconfig] + ";";
	}
	$("#userconfig").html(userstr.replace(/_/g,"."));
	//$(me).style("text-align: left;");
	me.className = "compl";
}

	$(function() {
		$("#dialog").dialog("destroy");
		$("#dialog-modal").dialog({
			width: 400,
			height: 200,
			modal: true,
			autoOpen: false,
			buttons: {
				'Да, я уверен.': function() {
					var imei = $("#imei").html();
					$.getJSON("/config?cmd=delsys&imei=" + imei, function (data) {
						window.location = "/config";
					});
					$(this).dialog('close');
				},
				Cancel: function() {
					$(this).dialog('close');
				}
			}
		});

		$("#dialog-addsys").dialog({
			width: 400,
			height: 200,
			modal: true,
			autoOpen: false,
			buttons: {
				'Добавить систему.': function() {
					var imei = document.getElementById('addsys_imei').value;
					//var phone = document.getElementById('addsys_phone').value;
					//$.getJSON("/config?cmd=addsys&imei=" + imei + "&phone=" + phone, function (data) {
					$.getJSON("/config?cmd=addsys&imei=" + imei + "&callback=?", function (data) {
						//window.location = "/config";
						//$(this).dialog('close');
						result = data.responseData.result;
						if(result == "not found"){
							alert("Система не найдена. возможно система ни разу не выходила на связь с сервером.");
						} else if(result == "already"){
							alert("Вы уже наблюдаете за этой системой");
						} else if(result == "added") window.location = "/config";
					});
					$(this).dialog('close');
				},
				'Отменить': function() {
					$(this).dialog('close');
				}
			}
		});
		$("#dialog-cico").dialog({
			width: 400,
			height: 200,
			modal: true,
			autoOpen: false,
			buttons: {
				/*'Выбрать.': function() {
					$(this).dialog('close');
				},*/
				'Отменить': function() {
					$(this).dialog('close');
				}
			}
		});

	});

	function dodel(imei) {
	// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$("#imei").html(imei);
		$("#dialog-modal").dialog('open');

	}

	function SetDescription(imei)
	{
		var item = document.getElementById('desc_' + imei)

		var nvalue = prompt("Введите описание для IMEI:'" + imei + "'", item.innerHTML);
		if (nvalue == null) return;
		if (nvalue == item.innerHTML) return;

		$.getJSON("setuserdescr?&imei=" + imei + "&value=" + nvalue + "&callback=?", function (data) {
			var item = document.getElementById('desc_' + imei)
			item.innerHTML = nvalue;
		});
	}

	function addsys()
	{
		$("#dialog-addsys").dialog('open');
		//alert('aa');
	}

	$(document).ready(function(){
		//#clickme
		$('.cico').bind('click', function(){
			//$('img').css({'background-color': 'green'});
			//alert(this.id);
			$("#cico-name").html($(this).attr('imei'));
			$("#dialog-cico").dialog('open');
		})
	});

</script>

{% endblock %}

{% block body %}
	<h1>Наблюдаемые системы:</h1>
	{% if admin %}
	<input type="button" id="clickme" value="Click me" />
	<div id="decore">aaa</div>
	{% endif %}
	<table>
		<tr>
			<th>IMEI</th>
			<th>Номер телефона</th>
			<th>Описание</th>
			<th title="Карта">M</th>
			<th title="Конфигурация">C</th>
			<th title="Удаление">X</th>
		</tr>
        {% for user in users %}
		<tr>
			<td>{{ user.imei }}</td>
			<td>{{ user.phone }}</td>
			<td style="text-align: left;">
				<div class="cico" id="cico_{{ user.imei }}" imei="{{ user.imei }}"><img src="svg/cars/object1.svg" /></div>
				<div style="display: inline-block;" id="desc_{{ user.imei }}">{{ user.desc }}</div>
				<a class="smallButton" href="javascript:SetDescription('{{ user.imei }}')" title="Изменить описание">...</a>
			</td>

			<td><a class="smallButton" href="map?imei={{ user.imei }}" title="Посмотреть положение системы">M</a></td>
			<!--td><a class="smallButton" href="config?imei={{ user.imei }}" title="Изменить параметры системы">С</a></td-->
			<td><a class="smallButton" href="config?cmd=last&imei={{ user.imei }}" title="Посмотреть текущую конфигурацию.">C</a></td>
			<td><a class="smallButton" href="javascript:dodel({{ user.imei }});" title="Отказаться от слежения за этой системой">X</a></td>
		</tr>
	{% endfor %}

	</table>

	{% if admin %}
	Path: {{ path }}
	{% endif %}

	<a class="pushLink" href="javascript:addsys();">Добавить систему</a><br />

	<div id="dialog-modal" title="Внимание!!!" style="font-size: 1.5em;">
		<p>Вы действительно хотите отказаться от слежения за системой?</p>
		<div id="imei">111</div>
	</div>

	<div id="dialog-addsys" title="Добавление системы">
		<form style="font-size: 1.5em;">
			<label>Укажите IMEI добавляемой системы</label>
			<br /><br />
            		<div><textarea id="addsys_imei" name="imei" rows="1" style="width:98%;"></textarea></div>
			<br />
			<!--label>Или номер SIM-карты в формате +380xxxxxxxxx</label>
			<br /><br />
            		<div><textarea id="addsys_phone" name="phone" rows="1" style="width:98%;"></textarea></div-->
		</form>
	</div>

	<div id="dialog-cico" title="Выбор значка">
		<form style="font-size: 1.5em;">
			<div style="position: absolute; top: 32%; white-space: nowrap; -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); font-size: 2.4em; z-index: -1; color: grey; text-decoration: blink;">Функция в разработке</div>
			<label>Выберите логотип для объекта <div id="cico-name"></div></label><br />
			<div class="cico"><img src="svg/cars/object1.svg" /></div>
			<div class="cico"><img src="svg/cars/object2.svg" /></div>
			<div class="cico"><img src="svg/cars/object3.svg" /></div>
			<div class="cico"><img src="svg/cars/object4.svg" /></div>
			<div class="cico"><img src="svg/cars/object5.svg" /></div>
			<!--label>Или номер SIM-карты в формате +380xxxxxxxxx</label>
			<br /><br />
            		<div><textarea id="addsys_phone" name="phone" rows="1" style="width:98%;"></textarea></div-->
		</form>
	</div>


	{% if admin %}
	<div style="border: none; text-align:center; padding: 2px 2px 2px 2px;">
	<a class="smallButton" href="firmware" title="Обновление внутреннего программного обеспечения системы.">U</a>
	</div>
	{% endif %}
{% endblock %}

{% block final %}
{% endblock %}
