{% extends "base.html" %}

{% block title %}{{ application_name }} Зарегестрированные пользователи {% endblock %}

{% block head %}
  <!--meta http-equiv="refresh" content="10"-->
  <style type="text/css">{% include "css/index.css" %}</style>
  <script type="text/javascript" src="js/track.js"></script>

	<script type="text/javascript" language="JavaScript">
	</script>

{% endblock %}

{% block body %}
	Отладка всякой всячины.
	<a href="trackjs.js">Скрипт</a>
	<br />
	<input type="button" value="Жмакай" onclick="javascript:aaa();" />
	Тут будет результат работы: <output id="result"></output>

	<br />
	<input type="button" value="Жмакай2" onclick="javascript:json();" />
	Тут будет результат работы: <output id="result2"></output>


<div style="border: solid 1px; width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 5px; top: 656px; ">
 <svg style="position: absolute; left: 0px; top: 0px; " version="1.1" overflow="hidden" width="256px" height="256px" viewBox="0 0 256 256" clip="rect(0px, 256px, 256px, 0px)">
  <path stroke-linejoin="round" stroke-linecap="round" d="M 27.1 266 L 0.3 87.4 L 8.8 25.1 L -10 47 L -10 189.6 L -4.7 130.5 L 10.6 66.3 L -10 24.6 L -10 9.8 L 20.3 34.8 L -7.9 47.8 L -10 45.4 L -10 44 L -5.1 41 L 16.6 -4.6 L 18.1 81 L -10 80.7 L -10 42.9 L -0.3 66 L 9.9 25 L 25.8 -10 L 42.3 -10 L 40.7 29.4 L 24.3 -10" style="cursor: pointer; " fill="none" stroke="#F08000" stroke-opacity="1.0" stroke-width="5">
  </path>
 </svg>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1"  
viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice"  
style="width:100%; height:100%; position:absolute; top:0; left:0; z-index:-1;">  
<linearGradient id="gradient">  
<stop class="begin" offset="0%"/>  
<stop class="end" offset="100%"/>  
</linearGradient>  
<rect x="0" y="0" width="100" height="100" style="fill:url(#gradient)" />  
<circle cx="50" cy="50" r="30" style="fill:url(#gradient)" />  
</svg> 

{% endblock %}

{% block final %}
{% endblock %}
