{% extends "base.html" %}

{% block title %}{{ application_name }} Зарегестрированные пользователи {% endblock %}

{% block head %}
  <!--meta http-equiv="refresh" content="10"-->
  <style type="text/css">{% include "css/index.css" %}</style>
  <script type="text/javascript" src="js/track.js"></script>

	<script type="text/javascript" language="JavaScript">

	//setTimeout(lastPoints, 200);
	var time = 0;

	function getUpdate() {
		//json();
		//result = document.getElementById('result2');	// = 'json';
		//result.textContent = 'Тик: ' + time;
		//time++;

		var start = new Date().getTime()
		result = document.getElementById('result2');	// = 'json';

		result.textContent = 'Запрос...';

		$.getJSON("/trackcounter?callback=?", function (data) {
			result.textContent = "Обрабатываем...";
			if (data.responseData.counter) {
				result.textContent += "ok:" + data.responseData.counter;
				var time = new Date().getTime() - start;
				result.textContent += " Выполнено за: " + time/1000 + " секунд";
			}
			setTimeout(getUpdate, 5000);
		});
	
	}

	function initialize() {
		//setInterval(getUpdate, 1000);
		setTimeout(getUpdate, 1000);
	}


	</script>

{% endblock %}

{% block javainit %}
			initialize();
{% endblock %}


{% block body %}
	Отладка всякой всячины.
	<a href="trackjs.js">Скрипт</a>
	<br />
	<input type="button" value="Жмакай" onclick="javascript:aaa();" />
	Тут будет результат работы: <output id="result"></output>

	<br />
	<input type="button" value="Получить сообщения" onclick="javascript:json();" />
	Тут будет результат работы: <output id="result2"></output>

	<br />
	<input type="button" value="Отправить сообщения" onclick="javascript:send();" />
	Тут будет результат работы: <output id="result3"></output>




<div style="border: solid 1px; width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 5px; top: 656px; ">
 <svg style="position: absolute; left: 0px; top: 0px; " version="1.1" overflow="hidden" width="256px" height="256px" viewBox="0 0 256 256" clip="rect(0px, 256px, 256px, 0px)">
  <path stroke-linejoin="round" stroke-linecap="round" d="M 27.1 266 L 0.3 87.4 L 8.8 25.1 L -10 47 L -10 189.6 L -4.7 130.5 L 10.6 66.3 L -10 24.6 L -10 9.8 L 20.3 34.8 L -7.9 47.8 L -10 45.4 L -10 44 L -5.1 41 L 16.6 -4.6 L 18.1 81 L -10 80.7 L -10 42.9 L -0.3 66 L 9.9 25 L 25.8 -10 L 42.3 -10 L 40.7 29.4 L 24.3 -10" style="cursor: pointer; " fill="none" stroke="#F08000" stroke-opacity="1.0" stroke-width="5">
  </path>
 </svg>
</div>

<div style="border: solid 1px; width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 500px; top: 656px; ">
<svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<metadata>
		<rdf:RDF>
			<cc:Work rdf:about="">
				<dc:format>image/svg+xml</dc:format>
				<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
				<dc:title/>
			</cc:Work>
		</rdf:RDF>
	</metadata>
	<defs>
		<linearGradient id="linearGradient2993" y2="29.18" gradientUnits="userSpaceOnUse" x2="93.738" y1="87.586" x1="100.23">
			<stop style="stop-color:#ff0000;" offset="0"/>
			<stop style="stop-color:#ff0000;stop-opacity:0;" offset="1"/>
		</linearGradient>
	</defs>
	<circle r="40" stroke="#000" cy="50" cx="100" stroke-width="2" style="fill:url(#linearGradient2993);" fill="red"/>
</svg>

</div>

{% endblock %}

{% block final %}
{% endblock %}
