
div.bblock {
	cursor: pointer;
	display: inline-block;
	/*width: 10%;*/
	padding: 2px;
	font-size: 0.9em;
	margin-top: 2px;
	margin-bottom: 2px;
	/*line-height:1.8em;*/
	border: 1px solid blue;
	border-radius: 3px;
	background-color: #F2EFE9;
	/*-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;*/
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

div:hover.bblock {
	/*-webkit-box-shadow:0 0 10px #004080;
	-moz-box-shadow: 0 0 10px #004080;*/
	-webkit-box-shadow:0 3px 6px #000000;
	-moz-box-shadow: 0 3px 6px #000000;
	-webkit-transform: scale(1.2) translate(0px,-3px);
	-moz-transform: scale(1.2) translate(0px,0px);
}


div.bblock div {
	line-height:0.8em;
	padding: 0;
	margin: 0;
}


div.bblock div.crcok {
	background-color: #80FF80;
}

div.bblock div.crcfail {
	background-color: #FF8080;
}
