li#menu-map {% include "css/menu-select.css" %}

div.arrowdiv {
	position: absolute;
	width: 32px;
	height: 32px;
	border: none 0px;
	background-image: url(svg/marker-arrow3.svg);
}

div.mymarker {
	position: absolute;
	width: 5px;
	height: 5px;
	/*border: 1px solid #F08000;*/
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/

	/*background-image: url(images/marker3.png);*/
	/*-webkit-transition: all 0.1s ease-out;*/
}

div.mymarker-move {
	position: absolute;
	width: 7px;
	height: 7px;
	/*border: 1px solid #F08000;*/
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	background-image: url(images/marker-move-sml.png);
	/*-webkit-transition: all 0.1s ease-out;*/
}

div:hover.mymarker-move {
	background-image: url(images/marker-move-big.png);
}


div.mymarker-stop {
	position: absolute;
	width: 7px;
	height: 7px;
	/*border: 1px solid #F08000;*/
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	background-image: url(images/marker-stop-sml.png);
	/*-webkit-transition: all 0.1s ease-out;*/
}


div:hover.mymarker {
	/*position: absolute;*/
	/*width: 9px;
	height: 9px;*/
	/*border: none 0px;*/
	/*background-image: url(svg/marker-big.svg);*/
	/*-webkit-transform: translate(-2px,-2px);*/

	/*-webkit-transform: scale(2.0) translate(-0px,-0px);
	-moz-transform: scale(2.0) translate(-0px,-0px);*/
}

div#tools {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 8px;
	right: 130px;
	border: 1px solid #000000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow:1px 1px 3px #808080;
	-moz-box-shadow:1px 1px 3px #808080;
	-webkit-box-shadow:1px 1px 3px #808080;

	cursor: pointer;
	/*-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;*/
	background-image: url(svg/lock.svg);
	/*opacity:0.5;*/
}

div#tools.lockon {
	background-color: green;
}

div:hover#tools {
	/*opacity:1.0;*/
	/*-webkit-transform: scale(2.0) translate(0px,4px);
	-moz-transform: scale(2.0) translate(0px,4px);*/
	background-color: #FFFFFF;
}

div:hover#tools.lockon {
	background-color: lime;
}
