body {
	padding:0;
	margin:0;
}

html, body {
	height: 100%;
	text-align: center;
}

#main {
	height:100%;
	min-height:100%;
	max-height:100%;
	background-color: #14718f;
	overflow: auto;
	height:auto !important;
}

#header {
	display: block;
	position: relative;
	height: 60px;
	width: 100%;
  	min-width: 500px;
	clear: both;
	overflow: hidden;
	background-color: #C0C0FF;
	text-align: left;
}

table {
	width: 100%;
}

table, th, td {
    background: #FFF0FF;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    background: #CFF0FF;
}

form {
    background: #CFF0FF;
}


h1 {
    text-align: center;
    padding: 0.5em 0 0.2em 0;
    margin:0;
}

a.pushLink {
    padding: 6px 20px 6px 20px;
    line-height:2.5em;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    background-color: #FFF0FF;
    border: 4px solid black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 10px #004080;
    -webkit-box-shadow:0 0 10px #004080;
}

a:hover.pushLink {
    background-color: #8080FF;
	color: white;
    -moz-box-shadow:0 0 20px #80FFFF;
    -webkit-box-shadow:0 0 20px #80FFFF;
}


a.Prev, a.Next {
    padding: 4px 10px 4px 10px;
	background-color: white;
	position: absolute;
    border: 2px solid black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 10px #004080;
    -webkit-box-shadow:0 0 10px #004080;
	top: 100px;
}

a.Prev {
	left: 0px;
}

a.Next {
	right: 0px;
}

a:hover.Prev, a:hover.Next {
    background-color: #8080FF;
	color: white;
    -moz-box-shadow:0 0 20px #80FFFF;
    -webkit-box-shadow:0 0 20px #80FFFF;
}

a.Help {
	font-size: 0.9em;
    border: 1px solid black;
    padding: 0px 8px 0px 8px;
	text-decoration: none;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -moz-box-shadow:4px 4px 4px #CFC0CF;
    -webkit-box-shadow:4px 4px 4px #CFC0CF;
}
