{% extends "base.html" %}

{% block title %}{{ application_name }} GPS avto {% endblock %}

{% block javainit %}

/*
$("#menu-main").hover(function () {
      $(this).css({'background-color' : 'yellow', 'font-weight' : 'bolder'});
    }, function () {
      var cssObj = {
        'background-color' : 'blue',
        'font-weight' : '',
        'color' : 'rgb(0,40,244)'
      }
      $(this).css(cssObj);
    });
*/
/*		var cssObj = {
			'font-weight' : 'bolder',
			'color' : 'rgb(0,128,0)'
		}
		$('#menu-main').css(cssObj);
*/
{% endblock %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="stylesheets/ui.all.css" />
  <style type="text/css">{% include "css/index.css" %}</style>
	<style type="text/css">

</style>

	<script type="text/javascript" language="JavaScript">


		//$('#menu-main').css({'background-color' : 'green'});
		function MakeBinRequest(url, data) {
			http_request = false;
			if (window.XMLHttpRequest) { // Mozilla, Safari,...
				http_request = new XMLHttpRequest();
				if (http_request.overrideMimeType) {
					// set type accordingly to anticipated content type
					//http_request.overrideMimeType('text/xml');
					//http_request.overrideMimeType('text/html');
					http_request.overrideMimeType('application/octet-stream');
				}
			} else if (window.ActiveXObject) { // IE
				try {
					http_request = new ActiveXObject("Msxml2.XMLHTTP");
				} catch (e) {
					try {
					http_request = new ActiveXObject("Microsoft.XMLHTTP");
					} catch (e) {}
				}
			}
			if (!http_request) {
				alert('Cannot create XMLHTTP instance');
				return false;
			}
			http_request.onreadystatechange = alertContents;
			http_request.open('POST', url, true);
			http_request.setRequestHeader("Content-type", "application/octet-stream");
			http_request.setRequestHeader("Content-length", data.length);
			http_request.setRequestHeader("Connection", "close");
			//header('Content-Type: text/plain; charset=windows-1251');

			http_request.send(data);			
		}
		
		function alertContents() {
			if (http_request.readyState == 4) {
				if (http_request.status == 200) {
					//alert(http_request.responseText);
					result = http_request.responseText;
					document.getElementById('myspan').innerHTML = result;            
				} else {
					alert('There was a problem with the request.');
				}
			}
		}

		var dataid = 0;
		function binpost(obj) {
			//var data = "ABCDEFG\x01\x80\xFF" + String.fromCharCode(65) + String.fromCharCode(150);
			var data = "";
			var i;
			var j;
			data += "\x23\x02\xDB\x24\x03\x07\x01\x45\x1B\x58\x06"
			for(j=0; j<=750; j++)
				data += "\xF2\x1D\x01\x10\x14\x13\x30\x18\x00\x58\x13\x23\x02\xDB\x24\x03\x07\x01\x45\x1B\x58\x06"
					//data += String.fromCharCode(i);
			data += "\xF2\x1D\x01\x10\x14\x13\x30\x18\x00"
			//var data = "\x1D\x01\x10\x14\x13\x30\x18\x00\x58\x13\x23\x02\xDB\x24\x03\x07\x00\x01\x45\x1B\x58\x06"
			//var data = "\x1D\x01\x12\x38\x2B\x00\x30\x18\x2C\x13\x23\x02\xD0\x24\x08\x00\x0B\x00\x00\x00\x47\x06"

			//var data1 = data.encodeUTF8();
			data = "";
			for(i=0; i<256; i++){
				data += String.fromCharCode(i);
			}

			//var data = new Blob();
			//data.Type = 2;
			//data.Charset = "Windows-1251";
			//data.WriteText("ABCDEFG");
			MakeBinRequest('bingeos?imei=123456789012&enc=utf8&dataid=' + dataid.toString(16).toUpperCase(), data);
			dataid++;
		}

		var whorls = new Object();

		$(document).ready(function(){
			//#clickme
			$('#getdoc').bind('mouseover', function(){
				$('#getadobe').stop(true, true).fadeIn("slow");
				//$('#getadobe').show();
			})
			
			$('#getdoc').bind('mouseout', function(){
				//$('#getadobe').delay(5000).hide();
				$('#getadobe').stop(true, true).delay(5000).fadeOut("slow");
			})
			$('#getadobe').mouseover(function(){
				//alert('aa');
				$('#getadobe').stop(true, true);
			});
			$('#getadobe').mouseout(function(){
				//alert('aa');
				$('#getadobe').stop(true, true).delay(5000).fadeOut("slow");
			});


			try { 
				whorls['timezone'] = new Date().getTimezoneOffset();
				$("#timezone").html(whorls['timezone'] + " (" + whorls['timezone']/60 + " часа)");
			} catch(ex) {
				whorls['timezone'] = "permission denied";
			}
			

		});

	</script>
{% endblock %}

{% block body %}
	<h1>Главное меню</h1>
        <!--a class="pushLink" href="test.php">[ <span>Тест</span> ]</a><br-->
        <!--a class="pushLink" href="login.php">[ <span>Войти под своим именем</span> ]</a-->
	<!--div style="position:absolute; right: 10px; top: 10px;">
		Вы вошли как: <b>{{ username }}</b>
	        <a class="smallButton" href="{{ login_url }}" title="Войти под другим именем">X</a>
	</div-->
	<br />
        <!--a class="pushLink" href="register.php">[ <span>Зарегестрироваться в системе</span> ]</a><br-->

	<!--div>CRC1 = {{ crc1 }} {{ my }}</div-->

	<!--a class="pushLink" href="system?cmd=add">Добавить систему</a-->
	<h1>Общая информация</h1>
	<a id="getdoc" class="ilink" href="static/bin-protocol-v3.pdf">
		<img src="/images/PDF.png" width="32" height="32" valign="middle" alt="PDF">
		<span>Описание протокола</span>
	</a>
	<div id="getadobe" style="position: absolute; bottom:4px; right:5px; display:none;"><a class="ilink" href="http://www.adobe.com/go/EN_US-H-GET-READER">
		<img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_reader.png" width="158" height="39" alt="Get Adobe Reader">
	</a></div>
	<h1>SMS-команды управления</h1>
	<table>
		<tr>
			<th>Команда</th>
			<th>Описание</th>
		</tr>
		<tr>
			<td>config</td>
			<td>Обновить конфигурацию</td>
		</tr>
		<tr>
			<td>gps off</td>
			<td>Выключить только GPS-модуль</td>
		</tr>
		<tr>
			<td>gps on</td>
			<td>Включить только GPS-модуль</td>
		</tr>
		<tr>
			<td>reboot</td>
			<td>Перезагрузить устройство</td>
		</tr>
		<tr>
			<td>power off</td>
			<td>Отключить устройство</td>
		</tr>
		<tr>
			<td>fwupdate</td>
			<td>Обновить внутреннее программное обеспечение</td>
		</tr>
		<tr>
			<td>gsm reboot</td>
			<td>Перезапустить GSM-модуль</td>
		</tr>
		<tr>
			<td>iparam параметр значение</td>
			<td>Установить значение параметра</td>
		</tr>
		<tr>
			<td>iparam gsm.server 1</td>
			<td>Переключиться на сервер <span title="http://www.piligrim-gps.ua/">Пилигрим</span></td>
		</tr>
		<tr>
			<td>iparam gsm.server 0</td>
			<td>Переключиться на сервер Google</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 0</td>
			<td>Настроить точку доступа для оператора Киевстар-предоплаченый.</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 1</td>
			<td>Настроить точку доступа для оператора Киевстар-контракт.</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 7</td>
			<td>Настроить точку доступа для оператора Utel.</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 8</td>
			<td>Настроить точку доступа для оператора Киевстар 3G.</td>
		</tr>

	</table>
	

	{% if admin %}
	<a class="pushLink" href="/admin">Админка</a><br />
	Time zone: <div id="timezone" style="display: inline; text-decoration: underline;"></div>
	<p>
		<span class="label">Короткий URL:</span>
		<a class="info" href="http://goo.gl/w3oR" title="goo.gl/w3oR">goo.gl/w3oR</a>
	</p>
	<img id="qr" src="http://chart.apis.google.com/chart?cht=qr&amp;chs=100x100&amp;choe=UTF-8&amp;chld=H%7C0&amp;chl=http://goo.gl/w3oR" alt="QR code">
	{{ accounts }}
	{% endif %}

{% endblock %}

{% block final %}
{% endblock %}
