{% extends "base.html" %}

{% block title %}{{ application_name }} Просмотр записей в глобальном логе {% endblock %}

{% block head %}
  <!--meta http-equiv="refresh" content="10"-->
  <style type="text/css">{% include "css/logs.css" %}</style>

  <script type="text/javascript" src="js/track.js"></script>

	{% if ukey %}
	<script type="text/javascript" language="JavaScript">

	var loglastkey = '{{ logs.0.key }}';

	function addline(datetime, logvalue, logkey) {
		//var logtable = $('#logtable tbody tr:first');
		//var logtable = $('#logtable tbody tr:first');
		var delkey = '';
		{% if admin %}
		delkey = '<td title="Удалить сообщение"><a class="smallButton" href="/logs?cmd=delmsg&ukey={{ ukey }}&key='+logkey+'">X</a></td>'
		{% endif %}

		var row = '<tr><td>' + datetime +'</td><td style="text-align: left; padding-left: 10px;">'+logvalue+'</td>'+delkey+'</tr>';
		if($('#logtable tbody tr').length > 0)
			$('#logtable tbody tr:first').before(row);
		else
			$('#logtable tbody').append(row);;

	}

	function checkNew() {
		{% if admin %}
		//var start = new Date().getTime()
		//debuglog = document.getElementById('debuglog');
		//debuglog.innerHTML += 'Запрос...';
		{% endif %}

		$.getJSON("/jsonlogs?ukey={{ ukey }}&lastlogkey="+loglastkey+"&callback=?", function (data) {
			{% if admin %}
			//debuglog.innerHTML += "обрабатываем...";
			{% endif %}

			if (data.responseData.logs) {
				{% if admin %}
				//debuglog.innerHTML += "получено:" + data.responseData.logs.length + "...";
				{% endif %}
				if(data.responseData.logs.length >0){
					for (var i=data.responseData.logs.length-1; i >= 0 ; i--) {
						addline(data.responseData.logs[i].date, data.responseData.logs[i].text, data.responseData.logs[i].key);
					}
					loglastkey = data.responseData.logs[0].key;
				}
				{% if admin %}
				//var time = new Date().getTime() - start;
				//debuglog.innerHTML += "выполнено за: " + time/1000 + " секунд<br />";
				{% endif %}
			}
			setTimeout(checkNew, 10000);
		});
	}

	function initialize() {
		setTimeout(checkNew, 10000);

		//setInterval(getUpdate, 1000);
		//setTimeout(getUpdate, 1000);
		//alert('aa');
		//logtable = document.getElementById('logtable');
//		addline('1', '2');
//		addline('3', '4');

		
		//alert(logtable);
	}
	</script>
	{% endif %}

{% endblock %}

{% block javainit %}
	{% if ukey %}
		initialize();
	{% endif %}
{% endblock %}

{% block body %}

  {% if ukey %}

	<a class="Prev" href="/logs?ukey={{ ukey }}">&lt;&lt; В начало</a>
	<a class="Next" href="/logs?ukey={{ ukey }}&cursor={{ ncursor }}">Дальше &gt;&gt;</a>
	<h1>Записи в логе</h1>
	<div class="systitle">{{ userdb.imei }}: <b>{{ userdb.desc }}</b></div>
	<a class="smallButton" href="/logs?ukey={{ ukey }}" title="Обновить"><img src="/svg/button-update.svg" /></a>
	<a class="smallButton" href="/logs" title="Выбрать другую"><img src="/svg/button-select.svg" /></a> 
	<table id="logtable">
          <thead>
        	<tr>
			<th style="width: 180px;">Дата и время лога</th>
			<th style="text-align: left; padding-left: 10px;">Строка лога</th>
			{% if admin %}
			<th style="width: 48px;" title="Удалить сообщение">X</th>
			{% endif %}
		</tr>
	  </thead>
	  <tbody>
        	{% for log in logs %}
		<tr>
			<td>{{ log.ldate|date:"d/m/Y H:i:s" }}</td>
			<td style="text-align: left; padding-left: 10px;">{{ log.text }}</td>
			{% if admin %}
				<td title="Удалить сообщение"><a class="smallButton" href="/logs?cmd=delmsg&ukey={{ ukey }}&key={{ log.key }}">X</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>
	{% if admin %}
	<a class="pushLink" href="dellogs?ukey={{ ukey }}" title="Удаляет 100 самых старых записей">Очистить логи сервера</a>
	{% endif %}

  {% else %}

    <h1>Выберите систему:</h1>
    <table class="selector">
	        {% for user in self.account.users %}
            <tr>
		<td>
		<a href="/logs?ukey={{ user.key }}"><div style="width: 100%;">{{ user.imei }}: {{ user.desc }}</div></a>
		</td>
            </tr>
		{% endfor %}
    </table>
  {% endif %}
{% endblock %}

{% block final %}
{% endblock %}
