{% extends "base.html" %}

{% block title %}{{ application_name }} Просмотр записей в глобальном логе {% endblock %}

{% block head %}
  <!--meta http-equiv="refresh" content="10"-->
  <style type="text/css">{% include "css/logs.css" %}</style>
{% endblock %}

{% block body %}

	{% if imei %}

    <h1>Записи в логе</h1>
	{{ userdb.imei }}:{{ userdb.desc }}
	<a class="smallButton" href="/logs?imei={{ imei }}" title="Обновить"><img valign="middle" src="/svg/button-update.svg" /></a>
	{% if single %}
	{% else %}
	<a class="smallButton" href="/logs" title="Выбрать другую">S</a> 
	{% endif %}
	{{ urlprev }}{{ urlnext }}
    <table>
        <thead>
        	<tr>
        		<!--th>ID</th-->
        		<!--th>Система</th-->
			<th style="width: 180px;">Дата и время лога</th>
			<th style="text-align: left; padding-left: 10px;">Строка лога</th>
			{% if admin %}
			<th style="width: 48px;" title="Удалить сообщение">X</th>
			{% endif %}
		</tr>
	</thead>
        {% for gpslog in gpslogs %}
            <tr>
            	<!--td>{{ gpslog.key.id }}</td-->
		<!--td>
			{{ gpslog.desc }}
			<a class="smallButton" href="logs?imei={{ gpslog.imei }}" title="filter">f</a>
			<a class="smallButton" href="logs?imei={{ gpslog.imei }}&exclude=yes" title="Исключить">x</a>
		</td-->
				<td>{{ gpslog.sdate }}</td>
				<td style="text-align: left; padding-left: 10px;">{{ gpslog.text }}</td>
				{% if admin %}
				<td title="Удалить сообщение"><a class="smallButton" href="/logs?cmd=delmsg&imei={{ imei }}&key={{ gpslog.key }}">X</a></td>
				{% endif %}
			</tr>
	{% endfor %}
    </table>
	<a class="pushLink" href="dellogs?imei={{ imei }}" title="Удаляет 100 самых старых записей">Очистить логи сервера</a>

	{% else %}

    <h1>Выберите систему:</h1>
    <table class="selector">
        <thead>
        	<tr>
        	</tr>
        </thead>
	        {% for user in users %}
            <tr>
		<td>
		{{ forloop.counter }}
		</td>
		<td>
		<a class="selector" style="" href="/logs?imei={{ user.imei }}"><div style="width: 100%;">{{ user.imei }}: {{ user.desc }}</div></a>
		</td>
            </tr>
		{% endfor %}
    </table>

	{% endif %}
    
{% endblock %}

{% block final %}
{% endblock %}
